@use '../constants.module.scss';

.container {
  @include constants.dark;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: constants.$baseline calc(constants.$baseline * 4);
}